/*--RESET--*/
 * {
    margin:0;
    padding:0;
    box-sizing:border-box
}
/*--BODY--*/
body{

    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom,#87ceeb,#ffffff);
    color: #333;
    line-height: 1.6;
}
/*--HEADER--*/
header{
    background: #f0f8ff; /*--BLEU TRES PALE--*/
    
    padding: 50px 20px;
    text-align: center;
}
header h1{
    font-size: 3rem;
    color: #ff8c00; /*--ORANGE ELEGANT--*/;
    text-shadow: 2px 2px #ffffff;
}
/*--TEXT SECTION--*/
.text-section{
max-width: 800px;
margin: 50px auto;
text-align: center;
font-style: italic;
color: #555;
padding: 0 20px;
}
/*--FILMS--*/
.films{
    width: 20px;
    text-align: center;
    
}
.films img{
    width: 300px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    transition: transform 0.3s ease
}
.films img:hover{
    transform:scale(1.05);

}
.film h2{
    margin-top: 10px;
    color: #4682b4; /*BLEU CHIC*/

}

/*BOUTON*/
.btn {
    display: inline-block;
    padding: 12px 30px;
    background-color: #32cd32; /*--VERT CLAIR --*/
    color: white;
    margin-top: 20px;
    
    border-radius: 30px;
    text-decoration: none;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
}
.btn:hover{
    background-color: #2e8b57; /*--VERT  PLUS FONCE AU SURVOL-*/
}
    /*--FOOTER--*/
    footer{
        text-align: center;
        padding: 20px;
        background-color: #f0f8ff;
        color: #888;
        font-size: 0.9rem;
    }
